In [42]:
import pandas as pd

In [43]:
csvfile = "Resources/purchase_data.csv"
purchase_data_df = pd.read_csv(csvfile)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [44]:
unique_players = purchase_data_df["SN"].value_counts()
total_players = len(unique_players)
print(f"Total Players : {total_players}")

Total Players : 576

In [45]:
# PURCHASING ANALYTICS
# creating summary data frame
unique_items = purchase_data_df["Item Name"].value_counts()
num_of_unique_items = len(unique_items)
avg_price = purchase_data_df["Price"].mean()
avg_price = round(avg_price,2)
total_purchases = purchase_data_df["Item Name"].count()
total_rev = purchase_data_df["Price"].sum()

summary_df = pd.DataFrame([
    {"Number_of_Unique_Items": num_of_unique_items, 
     "Average_Price": f"${avg_price}", 
     "Number_of_Purchases": total_purchases, 
     "Total_Revenue": f"${total_rev}"}
])
summary_df

   Number_of_Unique_Items Average_Price  Number_of_Purchases Total_Revenue
0                     179         $3.05                  780      $2379.77

In [46]:
#purchase_data_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [78]:
# GENDER DEMOGRAPHIC
purchase_data_df["Purchase Count"] = purchase_data_df["Purchase ID"].count()
purchase_data_df["Average Purchase Price"] = purchase_data_df["Price"] / purchase_data_df["Price"].count() 
purchase_data_df["Average Total Purchase per Person"] = purchase_data_df["Price"] / purchase_data_df["SN"].count()
gender_data_df = purchase_data_df.groupby("Gender")
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Purchase Count,Average Purchase Price,Average Total Purchase per Person
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,0.004526,0.004526
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,780,0.002000,0.002000
2,2,Ithergue48,24,Male,92,Final Critic,4.88,780,0.006256,0.006256
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,780,0.004192,0.004192
4,4,Iskosia90,23,Male,131,Fury,1.44,780,0.001846,0.001846
...,...,...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,780,0.004538,0.004538
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,780,0.002090,0.002090
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,780,0.004436,0.004436
778,778,Sisur91,7,Male,92,Final Critic,4.19,780,0.005372,0.005372
779,779,Ennrian78,24,Male,50,Dawn,4.60,780,0.005897,0.005897

In [70]:
# PURCHASING ANALYSIS (GENDER)

In [ ]:
# AGE DEMOGRAPHICS

# binning data
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45+"]

45