In [16]:
import pandas as pd

In [17]:
csvfile = "Resources/purchase_data.csv"
purchase_data_df = pd.read_csv(csvfile)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [18]:
unique_players = purchase_data_df["SN"].value_counts()

total_players = len(unique_players)

total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

In [19]:
# PURCHASING ANALYTICS
# creating summary data frame
unique_items = purchase_data_df["Item Name"].value_counts()

num_of_unique_items = len(unique_items)

avg_price = purchase_data_df["Price"].mean()

avg_price = round(avg_price,2)

total_purchases = purchase_data_df["Item Name"].count()

total_rev = purchase_data_df["Price"].sum()

summary_df = pd.DataFrame([
    {"Number_of_Unique_Items": num_of_unique_items, 
     "Average_Price": f"${avg_price}", 
     "Number_of_Purchases": total_purchases, 
     "Total_Revenue": f"${total_rev}"}
])
summary_df

   Number_of_Unique_Items Average_Price  Number_of_Purchases Total_Revenue
0                     179         $3.05                  780      $2379.77

In [20]:
# GENDER DEMOGRAPHIC
grouped_gender = purchase_data_df.groupby("Gender")

total_count = grouped_gender["SN"].nunique()

percent_players = total_count / total_players

gender_demographics_data = pd.DataFrame({"Total Count": total_count,
                                  "Percentage of Players": percent_players*100})
gender_demographics_data["Percentage of Players"] = gender_demographics_data["Percentage of Players"].map("{:.2f}%".format)
gender_demographics_data

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [21]:
# PURCHASING ANALYSIS (GENDER)

gender_purchase_count = grouped_gender["Purchase ID"].count()

avg_purchase_price = grouped_gender["Price"].sum() / grouped_gender["Price"].count()

avg_total_per_person = grouped_gender["Price"].sum() / total_count

gender_data = pd.DataFrame({"Purhcase Count": gender_purchase_count,
                            "Average Purchase Price":avg_purchase_price,
                            "Avg Total Purchase per Person":avg_total_per_person})
gender_data["Average Purchase Price"] = gender_data["Average Purchase Price"].map("${:.2f}".format)
gender_data["Avg Total Purchase per Person"] = gender_data["Avg Total Purchase per Person"].map("${:.2f}".format)
gender_data.head()

,Purhcase Count,Average Purchase Price,Avg Total Purchase per Person
Gender,,,
Female,113,$3.20,$4.47
Male,652,$3.02,$4.07
Other / Non-Disclosed,15,$3.35,$4.56

In [22]:
# AGE DEMOGRAPHICS

# binning data
purchase_data1_df = purchase_data_df
bins = [0, 9, 14, 19, 24, 29, 34, 39, 44, 100]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45+"]

purchase_data1_df["Age Dem"]=pd.cut(purchase_data1_df["Age"], bins, labels=labels)
age_group = purchase_data1_df.groupby("Age Dem")
age_count = age_group["SN"].nunique()

age_percent = age_count / total_players

age_demographics_data = pd.DataFrame({"Total Count": age_count,
                                      "Percentage of Players": age_percent*100})
age_demographics_data["Percentage of Players"] = age_demographics_data["Percentage of Players"].map("{:.2f}%".format)

age_demographics_data

         Total Count Percentage of Players
Age Dem
<10               17                 2.95%
10-14             22                 3.82%
15-19            107                18.58%
20-24            258                44.79%
25-29             77                13.37%
30-34             52                 9.03%
35-39             31                 5.38%
40-44             11                 1.91%
45+                1                 0.17%

In [23]:
# PURCHASING ANALYSIS (AGE)
age_purchase_count = age_group["Purchase ID"].count()
age_total_purchase = age_group["Price"].sum()
age_avg_price = age_total_purchase / age_purchase_count
age_avg_purchase = age_total_purchase / age_count

age_data = pd.DataFrame({"Purchase Count": age_purchase_count,
                         "Average Purchase Price": age_avg_price,
                         "Total Purchase Price": age_total_purchase,
                         "Avg Total Purchase per Person": age_avg_purchase})
age_data["Average Purchase Price"] = age_data["Average Purchase Price"].map("${:.2f}".format)
age_data["Avg Total Purchase per Person"] = age_data["Avg Total Purchase per Person"].map("${:.2f}".format)
age_data

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Age Dem,,,,
<10,23,$3.35,77.13,$4.54
10-14,28,$2.96,82.78,$3.76
15-19,136,$3.04,412.89,$3.86
20-24,365,$3.05,1114.06,$4.32
25-29,101,$2.90,293.00,$3.81
30-34,73,$2.93,214.00,$4.12
35-39,41,$3.60,147.67,$4.76
40-44,12,$3.04,36.54,$3.32
45+,1,$1.70,1.70,$1.70

In [24]:
# TOP SPENDERS
# defining variables
grouped_spenders = purchase_data_df.groupby("SN")
purchase_count = grouped_spenders["Purchase ID"].count()

total_value = grouped_spenders["Price"].sum()

avg_purchase_price = total_value / purchase_count

spenders_df = pd.DataFrame({"Purchase Count": purchase_count,
                        "Average Purchase Price": avg_purchase_price,
                        "Total Purchase Value": total_value})

# converting column 'Total Purchase Value' to integer so sorting is more accurate
spenders_df['Total Purchase Value'] = pd.to_numeric(spenders_df['Total Purchase Value'])

# sorting values in descending order
top_spenders = spenders_df.sort_values("Total Purchase Value", ascending = False)

#formatting
top_spenders["Average Purchase Price"] = spenders_df["Average Purchase Price"].map("${:.2f}".format)
top_spenders["Total Purchase Value"] = spenders_df["Total Purchase Value"].map("${:.2f}".format)


top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [43]:
# MOST POPULAR ITEMS

item_df = purchase_data_df[["Item ID", "Item Name", "Price"]]

grouped_item = item_df.groupby(["Item ID", "Item Name"])

purchase_count = grouped_item["Item ID"].count()

total_value = grouped_item["Price"].sum()

item_summary = pd.DataFrame({
                      "Purchase Count": purchase_count,
                      "Total Purchase Value": total_value})
item_summary["Item Price"] = item_df["Price"]

item_summary["Total Purchase Value"] = item_summary["Total Purchase Value"].map("${:.2f}".format)

item_summary.head()

Item ID  Item Name
0        Splinter                                       NaN
1        Crucifer                                       NaN
2        Verdict                                        NaN
3        Phantomlight                                   NaN
4        Bloodlord's Fetish                             NaN
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm   NaN
179      Wolf, Promise of the Moonwalker                NaN
181      Reaper's Toll                                  NaN
182      Toothpick                                      NaN
183      Dragon's Greatsword                            NaN
Name: Item Price, Length: 179, dtype: float64

In [39]:
# MOST PROFITABLE ITEMS

# repeat to properly sort "Total Purchase Value" as integer
item_df = purchase_data_df[["Item ID", "Item Name", "Price"]]

grouped_item = item_df.groupby(["Item ID", "Item Name"])

purchase_count = grouped_item["Item ID"].count()

total_value = grouped_item["Price"].sum()


item_summary = pd.DataFrame({
                      "Purchase Count": purchase_count,
                      "Total Purchase Value": total_value})
item_summary["Item Price"] = item_df["Price"]

# sorting values in descending order
most_profitable_df = item_summary.sort_values("Total Purchase Value", ascending = False)

most_profitable_df["Total Purchase Value"] = most_profitable_df["Total Purchase Value"].map("${:.2f}".format)

most_profitable_df.head()

,,Purchase Count,Total Purchase Value,Item Price
Item ID,Item Name,,,
92,Final Critic,13,$59.99,NaN
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,NaN
82,Nirvana,9,$44.10,NaN
145,Fiery Glass Crusader,9,$41.22,NaN
103,Singed Scalpel,8,$34.80,NaN