In [2]:
import pandas as pd

In [3]:
csvfile = "Resources/purchase_data.csv"
purchase_data_df = pd.read_csv(csvfile)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [46]:
unique_players = purchase_data_df["SN"].value_counts()

total_players = len(unique_players)

print(f"Total Players : {total_players}")

Total Players : 576

In [5]:
# PURCHASING ANALYTICS
# creating summary data frame
unique_items = purchase_data_df["Item Name"].value_counts()

num_of_unique_items = len(unique_items)

avg_price = purchase_data_df["Price"].mean()

avg_price = round(avg_price,2)

total_purchases = purchase_data_df["Item Name"].count()

total_rev = purchase_data_df["Price"].sum()

summary_df = pd.DataFrame([
    {"Number_of_Unique_Items": num_of_unique_items, 
     "Average_Price": f"${avg_price}", 
     "Number_of_Purchases": total_purchases, 
     "Total_Revenue": f"${total_rev}"}
])
summary_df

   Number_of_Unique_Items Average_Price  Number_of_Purchases Total_Revenue
0                     179         $3.05                  780      $2379.77

In [77]:
# GENDER DEMOGRAPHIC
grouped_gender = purchase_data_df.groupby("Gender")

total_count = grouped_gender["SN"].count()

percent_players = total_count / grouped_gender["SN"].count().sum()

gender_demographics_data = pd.DataFrame({"Total Count": total_count,
                                  "Percentage of Players": percent_players*100})
gender_demographics_data["Percentage of Players"] = demographics_data["Percentage of Players"].map("{:.2f}%".format)
gender_demographics_data

                       Total Count Percentage of Players
Gender
Female                         113                14.49%
Male                           652                83.59%
Other / Non-Disclosed           15                 1.92%

In [80]:
# PURCHASING ANALYSIS (GENDER)

purchase_count = grouped_gender["Purchase ID"].count()

avg_purchase_price =( grouped_gender["Price"] / grouped_gender["Price"].count() )

avg_total_per_person = (grouped_gender["Price"] / grouped_gender["SN"].count())

gender_data = pd.DataFrame({"Purhcase Count":purchase_count,
                            "Average Purchase Price":avg_purchase_price,
                            "Avg Total Purchase per Person":avg_total_per_person})
gender_data

ValueError: operands could not be broadcast together with shapes (3,2) (3,)

In [89]:
# AGE DEMOGRAPHICS

# binning data
grouped_age = purchase_data_df.groupby["Age"]
grouped_age.head()
#bins = [0, 9, 14, 19, 24, 29, 34, 39, 44, 100]
#labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45+"]

#age_dem = pd.cut(grouped_age["Age"], bins, labels=labels)

#age_count = grouped_age["SN"].count()

#age_percent = age_count / grouped_age["SN"].count().sum()

#age_demographics_data = pd.DataFrame({"Age Demographics": age_dem,
                                      #"Total Count": age_count,
                                      #"Percentage of Players": age_percent})
#age_demographics_data

TypeError: 'method' object is not subscriptable

45