In [1]:
import pandas as pd

In [2]:
csvfile = "Resources/purchase_data.csv"
purchase_data_df = pd.read_csv(csvfile)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
unique_players = purchase_data_df["SN"].value_counts()

total_players = len(unique_players)

print(f"Total Players : {total_players}")

Total Players : 576

In [4]:
# PURCHASING ANALYTICS
# creating summary data frame
unique_items = purchase_data_df["Item Name"].value_counts()

num_of_unique_items = len(unique_items)

avg_price = purchase_data_df["Price"].mean()

avg_price = round(avg_price,2)

total_purchases = purchase_data_df["Item Name"].count()

total_rev = purchase_data_df["Price"].sum()

summary_df = pd.DataFrame([
    {"Number_of_Unique_Items": num_of_unique_items, 
     "Average_Price": f"${avg_price}", 
     "Number_of_Purchases": total_purchases, 
     "Total_Revenue": f"${total_rev}"}
])
summary_df

   Number_of_Unique_Items Average_Price  Number_of_Purchases Total_Revenue
0                     179         $3.05                  780      $2379.77

In [6]:
# GENDER DEMOGRAPHIC
grouped_gender = purchase_data_df.groupby("Gender")

total_count = grouped_gender["SN"].count()

percent_players = total_count / grouped_gender["SN"].count().sum()

gender_demographics_data = pd.DataFrame({"Total Count": total_count,
                                  "Percentage of Players": percent_players*100})
gender_demographics_data["Percentage of Players"] = gender_demographics_data["Percentage of Players"].map("{:.2f}%".format)
gender_demographics_data

                       Total Count Percentage of Players
Gender
Female                         113                14.49%
Male                           652                83.59%
Other / Non-Disclosed           15                 1.92%

In [61]:
# PURCHASING ANALYSIS (GENDER)

purchase_count = grouped_gender["Purchase ID"].count()

avg_purchase_price = grouped_gender["Price"].sum() / grouped_gender["Price"].count()

avg_total_per_person = grouped_gender["Price"] / grouped_gender["SN"].count()

#gender_data = pd.DataFrame({"Purhcase Count":purchase_count,
                            #"Average Purchase Price":avg_purchase_price,
                            #"Avg Total Purchase per Person":avg_total_per_person})
#gender_data

/Users/petertran/opt/anaconda3/lib/python3.8/site-packages/pandas/core/ops/roperator.py:25: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return right / left

ValueError: operands could not be broadcast together with shapes (3,2) (3,)

In [65]:
# AGE DEMOGRAPHICS

# binning data
purchase_data1_df = purchase_data_df.set_index("Age")
purchase_data1_df
bins = [0, 9, 14, 19, 24, 29, 34, 39, 44, 100]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45+"]

# pd.cut(purchase_data1_df["Age"], bins, labels=labels)

age_count = purchase_data1_df["SN"].count()

age_percent = age_count / purchase_data1_df["SN"].count().sum()

age_demographics_data = pd.DataFrame({#"Age Demographics": age_dem,
                                      "Total Count": age_count,
                                      "Percentage of Players": age_percent})
age_demographics_data["Age Dem"] = pd.cut(purchase_data1_df["Age"], bins, labels=labels)
age_demographics_data

ValueError: If using all scalar values, you must pass an index

In [17]:
# PURCHASING ANALYSIS (AGE)

,Purchase ID,SN,Gender,Item ID,Item Name,Price
Age,,,,,,
20,0,Lisim78,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
40,1,Lisovynya38,Male,143,Frenzied Scimitar,1.56
24,2,Ithergue48,Male,92,Final Critic,4.88
24,3,Chamassasya86,Male,100,Blindscythe,3.27
23,4,Iskosia90,Male,131,Fury,1.44
...,...,...,...,...,...,...
21,775,Aethedru70,Female,60,Wolf,3.54
21,776,Iral74,Male,164,Exiled Doomblade,1.63
20,777,Yathecal72,Male,67,"Celeste, Incarnation of the Corrupted",3.46
7,778,Sisur91,Male,92,Final Critic,4.19
24,779,Ennrian78,Male,50,Dawn,4.60

In [33]:
# TOP SPENDERS
grouped_spenders = purchase_data_df.groupby("SN")
purchase_count = purchase_data_df["Purchase ID"].count()
total_value = purchase_data_df["Price"].sum()
avg_purchase_price = total_value / purchase_count
spenders_df = pd.DataFrame({"Purchase Count": purchase_count,
                        "Average Purchase Price": avg_purchase_price,
                        "Total Purchase Value": total_value})
spenders_df.head()

ValueError: If using all scalar values, you must pass an index

In [60]:
# MOST POPULAR ITEMS
item_df = purchase_data_df[["Item ID", "Item Name", "Price"]]
grouped_item = item_df.groupby(["Item ID", "Item Name"])
purchase_count = grouped_item["Item ID"].count()
total_value = grouped_item["Price"].sum()

grouped_item = grouped_item.rename(columns={"Item Price": "Price", 
                                            "Purchase Count": purchase_count,
                                            "Total Purchase Value": total_value})
grouped_item

AttributeError: 'DataFrameGroupBy' object has no attribute 'rename'

In [ ]:
# MOST PROFITABLE ITEMS