In [8]:
import pandas as pd

In [9]:
csvfile = "Resources/purchase_data.csv"
purchase_data_df = pd.read_csv(csvfile)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [10]:
unique_players = purchase_data_df["SN"].value_counts()
total_players = len(unique_players)
print(f"Total Players : {total_players}")

Total Players : 576

In [21]:
# PURCHASING ANALYTICS
# creating summary data frame
unique_items = purchase_data_df["Item Name"].value_counts()
num_of_unique_items = len(unique_items)
avg_price = purchase_data_df["Price"].mean()
avg_price = round(avg_price,2)
total_purchases = purchase_data_df["Item Name"].count()
total_rev = purchase_data_df["Price"].sum()

summary_df = pd.DataFrame([
    {"Number_of_Unique_Items": num_of_unique_items, 
     "Average_Price": f"${avg_price}", 
     "Number_of_Purchases": total_purchases, 
     "Total_Revenue": f"${total_rev}"}
])
summary_df

   Number_of_Unique_Items Average_Price  Number_of_Purchases Total_Revenue
0                     179         $3.05                  780      $2379.77

In [39]:
# GENDER DEMOGRAPHICS
purchase_data_df["Gender"].value_counts()

TypeError: 'numpy.dtype' object is not callable